<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#">Danone</a>
            <a class="navbar-brand hidden" href="#">S</a>
        </div>
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="menu-icon fa fa-comments"></i>Chat with Users</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li>
                            <i class="fa fa-bolt"></i>
                            <a href="/user/">New</a>
                        </li>
                        <li>
                            <i class="fa fa-archive"></i>
                            <a href="/user/oldChats">History</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="menu-icon fa fa-file-text-o"></i>Articles</a>
                    <ul class="sub-menu children dropdown-menu">
                        <!--<li  class="menu-item-has-children dropdown">
                            <i class="fa fa-user-md"></i>
                            <a href="/article/view/pre-pregnancy/weekly">Pre-Pregnancy</a>
                        </li>-->
                        <li>
                            <i class="fa fa-user-md"></i>
                            <a href="/article/view/pregnancy/En">Pregnancy</a>
                        </li>
                         <li>
                             <i class="fa fa-users"></i>
                            <a href="/article/view/motherhood/En">Motherhood</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="menu-icon fa fa-user"></i>Representative</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li>
                            <i class="fa fa-plus"></i>
                            <a href="/user/add">Add</a>
                        </li>
                        <li>
                            <i class="fa fa-eye"></i>
                            <a href="/user/view">View</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="menu-icon fa fa-table"></i>Dashboard</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li>
                            <i class="fa fa-filter"></i>
                            <a href="/dashboard/count">Count</a>
                        </li>
                        <li>
                            <i class="fa fa-filter"></i>
                            <a href="/dashboard/articlesCount">Articles Count</a>
                        </li>
                        <li>
                            <i class="fa fa-users"></i>
                            <a href="/dashboard/unique_data">Unique Entries</a>
                        </li>
                        <li>
                            <i class="fa fa-user-md"></i>
                            <a href="/dashboard/pregnancy">Pregnancy Data</a>
                        </li>
                        <li>
                            <i class="fa fa-users"></i>
                            <a href="/dashboard/motherhood/3">Motherhood Data (0-3M)</a>
                        </li>
                        <li>
                            <i class="fa fa-users"></i>
                            <a href="/dashboard/motherhood/6">Motherhood Data (4-6M)</a>
                        </li>
                        <li>
                            <i class="fa fa-users"></i>
                            <a href="/dashboard/motherhood/9">Motherhood Data (7-9M)</a>
                        </li>
                        <li>
                            <i class="fa fa-users"></i>
                            <a href="/dashboard/motherhood/12">Motherhood Data (10-12M)</a>
                        </li>
                        <li>
                            <i class="fa fa-users"></i>
                            <a href="/dashboard/motherhood/24">Motherhood Data (1 Yr)</a>
                        </li>
                        <li>
                            <i class="fa fa-users"></i>
                            <a href="/dashboard/motherhood/36">Motherhood Data (2 Yr)</a>
                        </li>
                        <li>
                            <i class="fa fa-users"></i>
                            <a href="/dashboard/motherhood/48">Motherhood Data (3 Yr)</a>
                        </li>
                        <li>
                            <i class="fa fa-users"></i>
                            <a href="/dashboard/motherhood/49">Motherhood Data (Pre school)</a>
                        </li>
                        <li>
                            <i class="fa fa-users"></i>
                            <a href="/dashboard/other">Other</a>
                        </li>
                        
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</aside>