<!DOCTYPE html>

<html dir="rtl">

<head>

	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 

	<title></title>

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  	<link rel="stylesheet" type="text/css" href="styletext.css">
  	<style type="text/css">
        
        @import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");

        body{
            background-color: white;
            text-align: right;
        }
        .container{
            background-color: white;
            width: 100%;
        }
        ol { counter-reset: item }
        li { display: block ; counter-increment: item; }
        li:before { content: counter(item,lower-alpha)") "; }
        mark {
            /* background-color: yellow; */
            background-color: #ffffff;
            color: black;
        }
        .table-bordered, .table-bordered td, .table-bordered th{
            border: 2px solid #000000;
        }
        .orange{
            /* background-color: #FFC107; */
            background-color: #ffffff;
        }
        h3{
            margin-top: 2%;
            margin-bottom: 2%;
        }
        .heading{
            font-size: 20px;
            font-weight: 700;
            margin-top: 4%;
            margin-bottom: 2%;
        }
        .text, li, .table{
            font-size: 17px;
        }
        
        .flr
        {
            float: left;
        }
        
        li:before {
    display: none;
}
        @media screen and (max-width: 992px) {
            .container{
                width: 95%;
            }
            .text, li, .table {
                font-size: 3.2vw;
            }
            .heading {
                font-size: 6vw;
                margin-top: 4vh;
                margin-bottom: 2vh;
            }   
            h3 {
                margin-top: 2vh;
                margin-bottom: 2vh;
            }
        }
    </style>

</head>

<body>

	<div class="secondSection">

		<div class="container">
            
            <a href="https://danone-apta-advice.herokuapp.com/fb/privacy_policy" class="flr">English</a>

			<h3 class=".display-1" >سياسة الخصوصية </h3>
			
			<p class="text" >تُدرك نيوترشيا ليمتد / التغذية في مراحل العمر المبّكرة (Nutricia Ltd t/a Early Life Nutrition)، مدى اهتمامكِ بكيفية استخدام بياناتكِ الشخصية، ونحنُ بدورنا ندرك أهمية حماية خصوصيّتكِ.</p>

			<p class="text">توضح سياسية الخصوصية هذه كيفية قيام نيوترشيا ليمتد بجمع وإدارة بياناتكِ الشخصية، وتتضمن أيضاً معلومات حول البيانات التي نقوم بجمعها، وطريقة استخدامنا لها، ولماذا نحتاج إليها وما الفائدة التي تعود عليكِ نتيجة قيامنا بذلك. </p>

			<p class="text">في حال كانت لديكِ أي استفسارات أو ملاحظات، أو كنتِ ترغبين بالاستفسار عن أي من الحقوق المتعلقّة ببياناتكِ يرجى التواصل معنا عبر الرابط:  <a href="https://www.apta-advice.com/contact-us/"><mark>https://www.apta-advice.com/contact-us/</mark></a>.</p>

			<p class="text">تم إجراء آخر تحديث على سياسة الخصوصية هذه <mark> 17 أغسطس 2018</mark>.</p>

			<h5 class="heading">المبادئ الأساسية لالتزامنا بالخصوصية </h5>

			<p class="text">تلتزم نيوترشيا ليمتد بحماية حقكِ في الخصوصية، ونسعى من هذا المنطلق إلى توفير الحماية لبياناتكِ الشخصية التي نحتفظ بها لدينا، بغرض إدارة هذه البيانات بطريقة مسؤولة تقوم على الشفافية، مع التأكيد على أهمية ثقتكِ بالنسبة لنا، ولذلك فقد ألزمنا أنفسنا بالمبادئ الأساسية التالية:</p>

			<ul>

				<li>لا يقع عليكِ أي التزام بتوفير أي بيانات شخصية نطلبها منكِ، ومع ذلك إذا اخترتِ عدم تزويدنا بالبينات المطلوبة، قد لا نكون في وضع يسمح لنا بتزويدكِ ببعض الخدمات أو المنتجات.</li>

				<li>نقوم بجمع ومعالجة بياناتكِ للأغراض المنصوص عليها في سياسة الخصوصية هذه أو لأغراض خاصة نقوم باطلاعكِ عليها و/أو سبق وأن أعطيتي موافقتكِ عليها.</li>

				<li>نسعى لجمع ومعالجة واستخدام أقل قدر ممكن من البيانات الشخصية.</li>

				<li>عندما نقوم بجمع بياناتكِ، فإننا نهدف إلى المحافظة على دقتها وحداثتها قدر الإمكان.</li>

				<li>إذا لم يعد هناك أي جدوى من الاحتفاظ بالبيانات الشخصية التي نقوم بجمعها لأي غرض، ولم نكن مطالبين بموجب القانون بالاحتفاظ بها، سنبذل قُصارى جهدنا، في أسرع وقت ممكن، لحذفها أو إزالة كل ما يشير إلى هويتكِ منها.</li>

				<li>لن نقوم بمشاركة معلوماتكِ أو بيعها أو تأجيرها أو الافصاح عنها بخلاف ما نصّت عليه سياسة الخصوصية هذه.</li>

			</ul>

			<h5 class="heading">ما هي البيانات الشخصية التي نقوم بجمعها؟</h5>

			<p class="text">يعتمد نوع البيانات الشخصية التي نجمعها على الغرض من عملية الجمع والمُنتج أو الخدمة التي نقدمها لكِ.</p>

			<p class="text">وبشكل عام، قد نقوم بجمع الأنواع التالية من البيانات الشخصية منكِ مباشرةً:</p>

			<ol type="a">

				<li>‌أ)	بيانات الاتصال الشخصية، مثل اسمكِ وعنوان بريدكِ الإلكتروني وعنوانك الفعلي.</li>

				<li>‌ب)	تفاصيل تسجيل الدخول إلى الحساب، مثل عنوان بريدكِ الإلكتروني وكلمة المرور، وهي معلومات ضرورية لتمكيينا من إنشاء حساب شخصي باسمكِ.</li>

				<li>‌ج)	تفاصيل اتصالاتكِ معنا، وقد تشمل تفاصيل محادثاتنا عبر خدمة العملاء (من خلال الهاتف، البريد الإلكتروني، الدردشة المباشرة أو النماذج الإلكترونية) أو الرسائل المباشرة من صفحات التواصل الاجتماعي.</li>

				<li>‌د)	المعلومات الإحصائية (الديموغرافية) أو المرتبطة بالأمومة مثل عمركِ وجنسكِ، والتاريخ المتوقّع للولادة أو تاريخ ميلاد الطفل.</li>

				<li>محفوظات المتصفّح، مثل البيانات التي دخلت إليها، تاريخ الدخول، الموقع عند الدخول، وعنوان بروتوكول الإنترنت (IP).</li>

				<li>‌و)	المعلومات ذات الصلة بصحة حملكِ أو بصحة الطفل.</li>

				<li>‌ز)	معلومات تتعلق بأشخاص خلافكِ، مثل البيانات الشخصية الخاصة بأفراد عائلتكِ، عندما تقومين بتقديم هذه المعلومات مباشرةً إلينا.</li>

				<li>‌ح)	ملفات التعريف الشخصية على مواقع التواصل الاجتماعي في حال تواصلت معنا عبر صفحات التواصل الاجتماعي الخاصة بنا.</li>

			</ol>

			<h5 class="heading">قد نقوم أيضاً بجمع بيانات شخصية عنكِ مباشرة عندما:</h5>

			<ol type="a">

				<li> ‌أ)	تقومين بنشر المحتوى على صفحات التواصل الاجتماعي أو على المواقع الإلكترونية أو التطبيقات ذات الصلة بمنتجاتنا، أو استجابةً للمواد الترويجية الخاصة بنا على وسائل التواصل الاجتماعي، أو</li>

				<li>‌ب)	قد نقوم بجمع بيانات شخصية عنكِ من خلال المعلومات التي تجمعها المواقع الإلكترونية الأخرى (على سبيل المثال؛ قد نقوم بوضع إعلان على موقع جهة أخرى، وعندما تقومين بالنقر على ذلك الإعلان، قد نتلقى معلومات عنكِ وعن الزائرين الآخرين للموقع بهدف قياس مدى وصول هذا الإعلان للجمهور المستهدف ومدى نجاحه).</li>

				<li>‌ج)	قد نقوم بجمع بيانات عنكِ عندما تقومين بفتح بريد إلكتروني أو عندما تنقرين على رابط في أحد الرسائل الإلكترونية، حيث يتيح لنا ذلك التعرّف على مدى نجاح تواصلنا معكِ.</li>

			</ol>

			<h5 class="heading">لماذا نقوم بجمع واستخدام بياناتكِ الشخصية؟</h5>

			<p class="text">نعمل على جمع بياناتكِ الشخصية بهدف تزويدكِ بأفضل تجربة على الإنترنت، وتزويدكِ بخدمة عملاء عالية الجودة. وقد نقوم، على وجه الخصوص، بجمع وحفظ واستخدام بياناتكِ الشخصية والافصاح عنها للأغراض التالية:</p>

			<ol type="a">

				<li>‌أ)	لمعالجة استفساراتكِ، والشكاوى التي تقدمها والرد عليها، أو للاتصال بكِ بغرض الرد على أسئلتكِ.</li>

				<li>‌ب)	لتحسين جودة الخدمات المقدمة من قبل فريق خدمة العملاء التابع لنا عبر ربط هذه البيانات بأية اتصالات سبق وأن أجريتها معنا.</li>

				<li>‌ج)	لتطوير وتحسين منتجاتنا، وخدماتنا وطرق تواصلنا وطريقة عمل مواقعنا الإلكترونية.</li>

				<li>‌د)	لموافاتكِ ببيان استطلاع رضا العملاء بعد تواصلكِ مع فريق خدمة العملاء التابع لنا أو صفحات التواصل الاجتماعي.</li>

                <li>‌ه)	لتزويدكِ بمعلومات من أجل إدارة عملية انضمامكِ إلى نادي <mark>AptaClub</mark> و/أو التسجيل لتلقي رسائلنا الإلكترونية، والبريد المباشر.</li>

				<li>‌و)	لإدارة الاحتياجات اليومية للأعمال الخاصة بنا فيما يتعلق بمشاركتكِ في المسابقات أو الأنشطة الترويجية.</li>

				<li>‌ز)	للتحقق من هويتكِ عند الاتصال عبر الهاتف أو عبر الوسائل الإلكترونية أو خلافها.</li>

				<li>‌ح)	لأغراض التدريب الداخلي وضمان الجودة.</li>

				<li>‌ط)	لفهم وتقييم اهتماماتكِ ورغباتكِ واحتياجاتكِ المتغيّرة لغايات تحسين موقعنا الإلكتروني، ومنتجاتنا وخدماتنا الحالية، و/أو تطوير منتجات وخدمات جديدة.</li>

				<li>‌ي)	توفير منتجات واتصالات مخصصّة واقتراح منتجات.</li>

			</ol>

			<p class="text">قد نحتاج أيضاً إلى بياناتكِ الشخصية للوفاء بالتزاماتنا القانونية في سياق علاقة تعاقدية تربطنا بكِ.</p>

			<p class="text">عندما نقوم بجمع واستخدام بياناتكِ الشخصية للأغراض المذكورة أعلاه أو لأغراض أخرى، سنقوم بإبلاغكِ مسبقاً أو في وقت جمع تلك البيانات.</p>

			<p class="text">حيثما كان ذلك ملائماً، سنطلب دوماً موافقتكِ على معالجة بياناتكِ الشخصية. وفي حال كنا قد حصلنا على موافقتكِ على معالجة بياناتكِ، يحق لكِ سحب هذه الموافقة في أي وقت.</p>

			<h5 class="heading">حقوقكِ</h5>    

			<p class="text">في حال قيامنا بمعالجة بياناتكِ الشخصية، تصبح لكِ أحقية في عددٍ من الحقوق ويمكنكِ ممارسة هذه الحقوق في أي وقت. وقد وفرنا بالأسفل، نبذةً عامةً عن هذه الحقوق وما ينطوي عليه ذلك بالنسبة لكِ. ويمكنكِ تغيير تفضيلاتكِ في أي وقت من خلال زيارة صفحة "تحديث بياناتي" على موقعنا الإلكتروني؛ <a href="https://www.apta-advice.com/profile"><mark>https://www.apta-advice.com/profile</mark></a></p>

			<h5 class="heading">حق الوصول إلى بياناتكِ الشخصية وتصحيحها</h5>

			<p class="text">في حال قيامنا بمعالجة بياناتكِ الشخصية، تصبح لكِ أحقية في عددٍ من الحقوق ويمكنكِ ممارسة هذه الحقوق في أي وقت. وقد وفرنا بالأسفل، نبذةً عامةً عن هذه الحقوق وما ينطوي عليه ذلك بالنسبة لكِ. ويمكنكِ تغيير تفضيلاتكِ في أي وقت من خلال زيارة صفحة "تحديث بياناتي" على موقعنا الإلكتروني؛ <a href="https://www.apta-advice.com/contact-us/"><mark>https://www.apta-advice.com/contact-us/</mark></a></p>

			<h5 class="heading">الحق في نقل البيانات</h5>

			<p class="text">بياناتكِ الشخصية قابلة للنقل، وهذا يعني إمكانية نقلها أو نسخها أو بثّها بصيغة إلكترونية، ومع ذلك فإن هذا الحق ينطبق فقط في حال:</p>

			<ul type="a">

				<li>‌أ)	كون عملية المعالجة تتم بناءً على موافقتكِ.</li>

				<li>‌ب)	يتم القيام بعملية المعالجة بغرض تنفيذ عقد.</li>

				<li>‌ج)	اتمام عملية المعالجة عبر وسائل آلية.</li>

			</ul>

			<p class="text">في حال رغبت بممارسة حقكِ في نقل البيانات، يرجى التواصل معنا عبر هذا الرابط  <a href="https://www.apta-advice.com/contact-us/"><mark>https://www.apta-advice.com/contact-us/</mark></a></p>

			<h5 class="heading">الحق في حذف بياناتكِ الشخصية</h5>

			<p class="text">يحق لكِ مطالبتنا بحذف بياناتكِ الشخصية، في حال:</p>

			<ol type="a">

				<li>‌أ)	لم يعد لبياناتكِ الشخصية أي ضرورة فيما يتصل بالأغراض التي سبق وأن تم جمع البيانات لأجلها؛ أو</li>

				<li>‌ب)	قمت بسحب موافقتكِ التي سبق وأن منتحتنا إياها لمعالجة بياناتكِ الشخصية، ولم تتوفر أية أسباب قانونية لمعالجة تلك البيانات الشخصية؛ أو</li>

				<li>‌ج)	اعترضتِ على قيامنا بمعالجة بياناتكِ الشخصية لأغراض التسويق المباشر؛ أو</li>

				<li>‌د)	اعترضتِ على قيامنا بمعالجة بياناتكِ الشخصية من أجل المصالح الشرعية نيوترشيا ليمتد / التغذية في مراحل العمر المبّكرة  (Nutricia Ltd t/a Early Life Nutrition) (مثل تحسين التجربة الكلية للمستخدم على المواقع الإلكترونية).</li>

				<li>‌ه)	لا تتم معالجة بياناتكِ الشخصية بشكل قانوني؛ أو</li>

				<li>‌و)	إذا كان يتعيّن حذف بياناتكِ الشخصية امتثالاً للقانون.</li>

                <li>‌ز)	 إذا رغبت بحذف البيانات الشخصية التي نحتفظ بها عنكِ، يمكنكِ استخدام رابط إلغاء الاشتراك التالي على موقعنا الإلكتروني <a href="https://www.apta-advice.com/unsubscribe/"><mark>https://www.apta-advice.com/unsubscribe/</mark></a> أو يمكنكِ التواصل مع فريق خدمة العملاء خلال ساعات العمل، وسنقوم باتخاذ خطوات معقولة من أجل الاستجابة لطلبكِ بما يتوافق مع المتطلبات القانونية.</li>

			</ol>

            <p class="text">إذا لم تعد البيانات التي قمنا بجمعها ضرورية لأي غرض ولمن نكن مطالبين قانوناً بحفظها، سنبذل ما بوسعنا لحذفها أو اتلافها أو جعلها لا تُشير إلى هوية صاحبها بصفة دائمة. هذا ويتم الاحتفاظ بالبيانات ذات الصلة بعضوية نادي<mark>AptaClub</mark>  لمدة لا تزيد عن 3 سنوات و 9 أشهر اعتماداً على وقت التسجيل في عضوية النادي لأول مرة.</p>

			<h5 class="heading">الحق في تقييد المعالجة</h5>

			<p class="text">يحق لكِ تقييد معالجة بياناتكِ الشخصية في حال؛</p>

			<ol type="a">

				<li>‌أ)	كنتِ لا تعتقدين بأن البيانات الشخصية التي نحتفظ بها عنكِ دقيقة؛ </li>				

				<li>‌ب)	لا يتم معالجة البيانات الشخصية بشكل قانوني، ولكنكِ كنتِ تفضلين عوضاً عن حذف البيانات الشخصية، أن نقوم بتقييد المعالجة؛ أو </li>				

				<li>‌ج)	لم نعد بحاجة إلى معلوماتكِ الشخصية للأغراض التي جمعناها من أجلها، ولكنكِ تحتاجين إلى البيانات من جل اثبات المطالبات القانونية أو تنفذيها أو الدفاع عنها؛ </li>				

				<li>‌د)	اعترضتِ على معالجة بياناتكِ الشخصية وتنتظرين التحقق مما إذا كانت مصالحكِ المسوّغة لهذا الاعتراض ترجح على الأسباب الشرعية لمعالجة بياناتكِ.</li>

			</ol>

            <p class="text">إذا كنتِ ترغبين في تقييد معالجتنا لبياناتكِ الشخصية، يرجى التواصل معنا عبر هذا الرابط <a href="https://www.apta-advice.com/contact-us/"><mark>https://www.apta-advice.com/contact-us/</mark></a> وسنقوم باتخاذ خطوات معقولة من أجل الاستجابة لطلبكِ بما يتوافق مع المتطلبات القانونية.
			<h5 class="heading">الحق في الاعتراض</h5>

            <p class="text">يحق لكِ الاعتراض على معالجة بياناتكِ الشخصية في أي وقت. يرجى التواصل معنا عبر هذا الرابط <a href="https://www.apta-advice.com/contact-us/"><mark>https://www.apta-advice.com/contact-us/</mark></a></p>

			<p class="text">الحق في تقديم شكوى للجهات الرقابية في شركتنا</p>

            <p class="text">في حين أننا سنكون ممتنين في حال تقدمتِ إلينا بأي شكوى حول أسلوبنا في معالجة بياناتكِ الشخصية، فإن لكِ الحق في تقديم شكوى إلى مسؤول حماية البيانات في نيوترشيا ليمتد باستخدام هذه الرابط <a href="https://www.apta-advice.com/contact-us/"><mark>https://www.apta-advice.com/contact-us/</mark></a> </p>

			<h5 class="heading">كيف نوفّر الحماية لبياناتكِ الشخصية</h5>

			<p class="text">ندرك تماماً أن أمن بياناتكِ الشخصية يمثل مسألة هامة بالنسبة لكِ. ولذلك، فإننا نبذل قُصارى جهدنا لحماية هذه البيانات من إساءة الاستخدام أو التدخل أو الضياع أو الدخول غير المصرّح به أو التعديل أو الافصاح. وقد لجأنا إلى عددٍ من التدابير الأمنية للمساعدة في حماية بياناتكِ الشخصية. على سبيل المثال، قمنا بتطبيق تقنيات للتحكّم بالدخول، واستخدمنا الجدران النارية  (Fire Wall) والخوادم الآمنة، وشفرّنا البيانات الشخصية.</p>

			<h5 class="heading">مشاركة بياناتكِ الشخصية</h5>

			<p class="text">عندما نشارك بياناتكِ الشخصية مع الشركات التابعة لنا والمؤسسات الأخرى، فإننا نتأكّد من أننا نفعل ذلك فقط مع المؤسسات التي توفّر الحماية لبياناتكِ الشخصية وتلتزم بقوانين الخصوصية المعمول بها بنفس الطريقة المتّبعة من قبلنا أو بطريقة تماثلها.</p>

			<p class="text">لن تتم مشاركة بياناتكِ الشخصية أو بيعها أو تأجيرها أو الإفصاح عنها بخلاف ما هو موضح في سياسة الخصوصية هذه. ومع ذلك، قد نقوم بمشاركة بياناتكِ حيثما نكون مطالبين بذلك بموجب القانون و/أو سلطة حكومية.</p>

			<p class="text">يتم مشاركة بياناتكِ الشخصية مع الأطراف الثالثة أدناه للأغراض الموضّحة:</p>

			<table class="table table-bordered">

				<tr>

					<td>فئة الطرف الثالث</td>

					<td>نوع البيانات</td>

					<td>الغرض</td>

				</tr>

				<tr>

					<td>معالجات خارجية:</td>

					<td></td>

					<td></td>

				</tr>

				<tr>

					<td>دردشة مباشرة</td>

					<td>بيانات الاتصال الشخصية (البريد الإلكتروني والاسم)</td>

					<td>إتاحة المحادثات الشخصية مع فريق خدمة العملاء التابع لنا</td>

				</tr>

				<tr>

					<td>فيسبوك</td>

					<td>بيانات الاتصال الشخصية (البريد الإلكتروني والاسم)</td>

					<td>إتاحة تسجيل الدخول عبر الفيسبوك على موقع أبتا أدفايس الإلكتروني </td>

				</tr>

				<tr>

					<td>فيسبوك</td>

					<td>بيانات السلوك</td>

					<td>تمكين دانون من تقييم أداء الإعلانات</td>

				</tr>

				<tr>

					<td>اكسيبيو (Excipio)</td>

					<td>بيانات العضوية الشخصية</td>

					<td>إتاحة المحادثات الشخصية مع فريق خدمة العملاء وتحليل البيانات لتحسين خدماتنا</td>

				</tr>

				<tr>

					<td>مزوّد تقارير:</td>

					<td></td>

					<td></td>

				</tr>

				<tr>

					<td>Google Analytics Adobe Analytics</td>

					<td>بيانات العضوية مجهولة الهوية</td>

					<td>تحليل سلوكيات المستخدم على الموقع الإلكتروني والبريد الإلكتروني ما يتيح لنا تجربتك</td>

				</tr>

				<tr>

					<td>قواعد بيانات البريد الإلكتروني / إشعارات المتصفّح:</td>

					<td></td>

					<td></td>

				</tr>

				<tr>

					<td>Facebook Chatbot
فيسبوك “تشات بوت”
</td>

					<td >الاسم والملف الشخصي على الفيسبوك، مرحلة الأمومة، وعمر الطفل</td>

					<td >إتاحة المحادثات الشخصية باستخدام روبوتات الدردشة التفاعلية (Bot) ومشاركة النصائح والمعلومات ذات العلاقة بخصوص المرحلة التي وصلتِ إليها</td>

				</tr>

				

			</table>

			<h5 class="heading"><mark class="orange">مشاركة البيانات على المستوى العالمي</mark></h5>

			<p class="text"><mark class="orange">قد تتم معالجة البيانات الشخصية خارج دولة الإمارات العربية المتحدة، وفي هذه الحالة، تتأكّد دانون من أن معالجة البيانات عبر الحدود محمية بضمانات كافية ترقى إلى مستوى القوانين المحلية.</mark></p>

			<h5 class="heading">القرارات المعتمدة على أجهزة الحواسيب والتصنيف النمطي (Profiling)</h5>

			<p class="text">قد نقوم فيما يتعلق ببعض الخدمات والمنتجات، بمعالجة بيانتكِ الشخصية باستخدام وسائل آلية، ما يعني أنه يتم اتخاذ القرارات تلقائياً دون تدخّل العنصر البشري، كأن نقوم بتحديد نوع رسائل البريد الإلكتروني للحملات التي ستتلقينها منا.</p>

			<p class="text">قد نقوم أيضاً بمعالجة بياناتكِ الشخصية لأغراض التصنيف النمطي بهدف توقع سلوككِ على موقعنا الإلكتروني أو تجاه المنتجات والخدمات التي تلائم طفلكِ بينما أنت تتصفحين المواقع الإلكترونية. وسوف نستخدم بياناتكِ أيضاً لإرسال رسائل مخصصة عبر البريد الإلكتروني والبريد المباشر، في حال سبق وأن اخترت تلقي ذلك.</p>

            <p class="text">إذا كنا نعتزم استخدام مثل هذه الأساليب، فإننا سنعمل بالطبع على إبلاغكِ بذلك مع منحكِ فرصة الاعتراض على هذه الإجراءات مقدماً. ويمكنكِ أيضاً الاتصال في أي وقت على <a href="https://www.apta-advice.com/contact-us/"><mark>https://www.apta-advice.com/contact-us/</mark></a>  للحصول على مزيد من المعلومات بخصوص هذه المعالجة.</p>

			<h5 class="heading">ملفات تعريف الارتباط (الكوكيز) والتقنيات الأخرى</h5>

			<p class="text">قد نقوم أيضاً بجمع بيانات شخصية عنكِ من خلال استخدام ملفات تعريف الارتباط وباستخدام تقنيات أخرى. وقد يحدث ذلك عند زيارتكِ لمواقعنا أو لمواقع تخص الغير، أو الاطّلاع على المحتوى التابع لنا على الإنترنت، أو استخدام تطبيقات الهاتف النقال الخاصة بنا أو تلك التي تخص الغير، وقد يشمل ذلك المعلومات التالية:</p>

			<ol type="a">

				<li>‌أ)	معلومات حول متصفح جهازكِ ونظام التشغيل.</li>

				<li>‌ب)	عناوين بروتوكول الإنترنت (IP)، معرّف الجهاز والمعرف المادي (Mac) للجهاز المستخدم.</li>

				<li>‌ج)	صفحات الإنترنت الخاصة بنا التي تطّلعين عليها.</li>

				<li>‌د)	الإعلانات التي تطّلعين عليها.</li>

				<li>‌ه)	الروابط التي تنقرين عليها أثناء تفاعلكِ مع خدماتنا، والرسائل الإلكترونية التي تفتحينها</li>

				<li>‌و)	وقت وتاريخ النشاط.</li>

			</ol>

			<h5 class="heading">كيفية التواصل معنا</h5>

            <p class="text">في حال كانت لديكِ أي استفسارات أو ملاحظات أو شكاوى بخصوص سياسة الخصوصية هذه أو معالجة بياناتكِ الشخصية، يرجى الاتصال بنا باستخدام الرابط هنا <a href="https://www.apta-advice.com/contact-us/"><mark>https://www.apta-advice.com/contact-us/</mark></a></</p>

		</div>

    </div>

</body>

</html>