<!DOCTYPE html>

<html>

<head>

	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 

	<title></title>

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  	<link rel="stylesheet" type="text/css" href="styletext.css">
  	<style type="text/css">
        
        @import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");

        body{
            background-color: white;
        }
        .container{
            background-color: white;
            width: 100%;
        }
        ol { counter-reset: item }
        li { display: block ; counter-increment: item; }
        li:before { content: counter(item,lower-alpha)") "; }
        mark {
            /* background-color: yellow; */
            background-color: #ffffff;
            color: black;
        }
        .table-bordered, .table-bordered td, .table-bordered th{
            border: 2px solid #000000;
        }
        .orange{
            /* background-color: #FFC107 */
            background-color: #ffffff;
        }
        h3{
            margin-top: 2%;
            margin-bottom: 2%;
        }
        .heading{
            font-size: 20px;
            font-weight: 700;
            margin-top: 4%;
            margin-bottom: 2%;
        }
        .text, li, .table{
            font-size: 17px;
        }
        
        .flr
        {
            float: right;
        }
        @media screen and (max-width: 992px) {
            .container{
                width: 95%;
            }
            .text, li, .table {
                font-size: 3.2vw;
            }
            .heading {
                font-size: 6vw;
                margin-top: 4vh;
                margin-bottom: 2vh;
            }   
            h3 {
                margin-top: 2vh;
                margin-bottom: 2vh;
            }
        }
    </style>

</head>

<body>

	<div class="secondSection">

		<div class="container">
            
            <a href="https://danone-apta-advice.herokuapp.com/fb/privacy_policy/ar" class="flr">العربية</a>

			<h3 class=".display-1">Privacy Policy</h3>
			
			<p class="text">Nutricia Ltd t/a Early Life Nutrition knows that you care how your personal data is used and we recognize the importance of protecting your privacy.</p>
			<p class="text">This Privacy Policy explains how Nutricia Ltd. collects and manages your personal data. It
				contains information on the data we collect, how we use it, why we need it and how it can
				benefit you.</p>

			<p class="text">Contact us here <a href="https://www.apta-advice.com/contact-us/"><mark>https://www.apta-advice.com/contact-us/</mark></a> if you have any queries and comments, or if you want to make a request regarding any of your data subject rights.</p>

			<p class="text">This Privacy Policy was last updated on August 17, 2018.</p>




			<h5 class="heading">BASIC PRINCIPALS OF OUR PRIVACY COMMITMENT</h5>

			<p class="text">Nutricia Ltd. are committed to protecting your right to privacy. We aim to protect any personal data we hold, to manage your personal data in a responsible way and to be transparent in our practices. Your trust is important to us. We have therefore committed ourselves to the following basic principles:</p>

			<ul>

				<li>You have no obligation to provide any personal data requested by us. However, if you choose not to, we may not be able to provide you with some services or products</li>

				<li>We only collect and process your data for the purposes set out in this Privacy Policy or for specific purposes that we share with you and/or that you have consented to</li>

				<li>We aim to collect, process and use as little personal data as possible</li>

				<li>When we do collect your personal data, we aim to keep it as accurate and up to date as possible</li>

				<li>If the personal data we collect is no longer needed for any purposes and we are not required by law to retain it, we will do what we can to delete, destroy or permanently de-identify it at the earliest opportunity</li>

				<li>Your personal data will not be shared, sold, rented or disclosed other than as described in this Privacy Policy</li>

			</ul>

			<h5 class="heading">WHAT PERSONAL DATA DO WE COLLECT?</h5>

			<p class="text">The personal data we collect varies depending upon the purpose of the collection and the product or service we are providing you.</p>

			<p class="text">Generally, we may collect the following types of personal data from you directly:</p>

			<ol type="a">

				<li>Personal contact data, such as your name, email address and physical address</li>

				<li>Account login details, such as your e-mail address and password. This is necessary to create a personal account</li>

				<li>Details of communications with us, which may include details of our conversations via the Careline (phone, email, Live Chat or web forms) or direct messages from social media pages</li>

				<li>Demographic and parental information, such as your age, gender, your expected due date (EDD) or baby’s birth date</li>

				<li>Browser history, such as pages accessed, date of access, location when accessed, and IP address;</li>

				<li>Information related to your maternal or baby’s health</li>

				<li>Information about people other than you, such as personal data about your family members, when you provide such information directly to us;</li>

				<li>Social media profiles if you contact us via our social media pages</li>

			</ol>

			<h5 class="heading">We may also collect personal data about you indirectly when:</h5>

			<ol type="a">

				<li>you share content on social media pages, websites or applications related to our products or in response to our promotional material on social media; or</li>

				<li>we may collect personal data about you from information collected by other websites (for instance, we may place an ad on a third party website, and when you click on that ad, we may receive information about you and other website visitors in order to measure the reach and success of that ad).</li>

				<li>we may collect data about when you open an email or click on a link in one. This allows us to see how well our communications with you are performing.</li>

			</ol>

			<h5 class="heading">Why do we collect and use your personal data?</h5>

			<p class="text">We collect your personal data so we can provide you with the best online experience and to provide you with a high quality of customer service. In particular we may collect, hold, use and disclose your personal data for the following purposes:</p>

			<ol type="a">

				<li>To process and answer your enquiries, complaints or to contact you in order to answer your questions</li>

				<li>To improve the quality of service from our Careline by linking to any previous contacts you may have had with us</li>

				<li>To develop and improve our products, services, communication methods and the functionality of our websites</li>

				<li>To send you a customer satisfaction survey after using the Careline or social media pages</li>

				<li>To communicate information to you, to manage your AptaClub registration and/or subscription to our emails, direct mail</li>

				<li>To manage our everyday business needs in connection with your participation in competitions or promotional activities</li>

				<li>To authenticate your identity when contacting us by telephone, electronic means or otherwise</li>

				<li>For internal training and quality assurance purposes</li>

				<li>To understand and assess your interests, wants, and changing needs in order to improve our website, our current products and services, and/or developing new products and services</li>

				<li>To provide personalized products and communications as well as product recommendations</li>
			</ol>

			<p class="text">We may also need your personal data to comply with legal obligations or in the context of a contractual relationship that we have with you.</p>

			<p class="text">When we collect and use your personal data for purposes mentioned above or for other purposes, we will inform you before or at the time of collection.</p>

			<p class="text">Where appropriate, we will always ask for your consent to process the personal data. Where you have given consent for processing activities, you have the right to withdraw your consent at any time.</p>

			<h5 class="heading">YOUR RIGHTS</h5>

			<p class="text">Where we process your personal data, you are entitled to a number of rights and can exercise these rights at any point. We have provided an overview of these rights below together with what this entails for you. You can change your preferences any time by visiting the update my details page on our website; <a href="https://www.apta-advice.com/profile"><mark>https://www.apta-advice.com/profile</mark></a></p>

			<h5 class="heading">The right to access your personal data and correction</h5>

			<p class="text">You have the right to access, correct or update your personal data at any time. We understand the importance of this and should you want to exercise your rights, please contact us via this link <a href="https://www.apta-advice.com/contact-us/"><mark>https://www.apta-advice.com/contact-us/</mark></a></p>

			<h5 class="heading">The right to data portability</h5>

			<p class="text">Your personal data is portable. This means it can be moved, copied or transmitted electronically. However, this right only applies where:</p>

			<ul type="a">

				<li>The processing is based on your consent;</li>

				<li>The processing takes place for the performance of a contract;</li>

				<li>The processing takes place by automated means</li>

			</ul>

			<p class="text">If you wish to exercise your right to data portability, please contact us via this link <a href="https://www.apta-advice.com/contact-us/"><mark>https://www.apta-advice.com/contact-us/</mark></a></p>

			<h5 class="heading">The right to deletion of your personal data</h5>

			<p class="text">You have right to request that we delete your data if:</p>

			<ol type="a">

				<li>your personal data is no longer necessary in relation to the purposes for which we collected it; or</li>

				<li>you withdraw the consent that you had previously given us to process your personal data, and there is no other legal ground to process that personal data; or</li>

				<li>you object to us processing your personal data for direct marketing purposes; or</li>

				<li>you object to us processing your personal data for Nutricia Ltd, Early Life Nutrition’s legitimate interests (such as improving overall user experience on websites);</li>

				<li>the personal data is not being processed lawfully; or</li>

				<li>your personal data needs to be deleted to comply with the law</li>

				<li>If you wish to delete the personal data we hold about you, you can use the following unsubscribe link on our website <a href="https://www.apta-advice.com/unsubscribe/"><mark>https://www.apta-advice.com/unsubscribe/</mark></a>.</li>

			</ol>

			<p class="text">Alternatively you can contact the Careline during office hours. We will take reasonable steps to respond to your request in accordance with legal requirements.</p>

			<p class="text">If the personal data we collect is no longer needed for any purposes and we are not required by law to retain it, we will do what we can to delete, destroy or permanently anonymise it. Data for AptaClub membership will be retained for a maximum period of 3 years 9 months depending on the time in which AptaClub membership is first registered.</p>

			<h5 class="heading">The right to restriction of processing</h5>

			<p class="text">You have the right to restrict the processing of your personal data if;</p>

			<ol type="a">

				<li>you do not believe the personal data we have about you is accurate; or</li>				

				<li>the personal data is not being processed lawfully, but instead of deleting the personal data, you would prefer us to restrict processing instead; or</li>				

				<li>we no longer need your personal data for the purposes we collected it, but you require the data in order to establish, exercise or defend legal claims; or</li>				

				<li> you have objected to the processing of your personal data and are awaiting verification on whether your interests related to that objection outweigh the legitimate grounds for processing your data.</li>

			</ol>

			<p class="text">If you wish to restrict our processing of your personal data, please contact us via this <a href="link https://www.apta-advice.com/contact-us/"><mark>link https://www.apta-advice.com/contact-us/</mark></a> and we will take reasonable steps to respond to your request in accordance with legal requirements.</p>

			<h5 class="heading">The right to object</h5>

			<p class="text">You have the right to object to the processing of your personal data at any time. Please contact us via this link <a href="https://www.apta-advice.com/contact-us/"><mark>https://www.apta-advice.com/contact-us/</mark></a></p>

			<p class="text">The right to lodge a complaint with a supervisory authority</p>

			<p class="text">While we would be grateful if you lodged any complaints with us about how we process personal data to the Data Protection Officer at Nutricia Ltd using this link <a href="https://www.apta-advice.com/contact-us/"><mark>https://www.apta-advice.com/contact-us/</mark></a></mark></a></p>

			<h5 class="heading">HOW WE PROTECT YOUR PERSONAL DATA</h5>

			<p class="text">We understand that the security of your personal data is important. We make our best efforts to protect your personal data from misuse, interference, loss, unauthorized access, modification or disclosure. We have implemented a number of security measures to help protect your personal data. For example, we implement access controls, use firewalls and secure servers, and we encrypt personal data.</p>

			<h5 class="heading">SHARING OF YOUR PERSONAL DATA</h5>

			<p class="text">When we share your personal data with affiliates and other organizations, we make sure we only do so with organizations that safeguard and protect your personal data and comply with applicable privacy laws in the same or similar way that we do.</p>

			<p class="text">Your personal data will not be shared, sold, rented or disclosed other than as described in this Privacy Policy. We may, however, share your data when required by law and/or government authorities.</p>

			<p class="text">Your personal data will be shared with the following third parties for the purposes described:</p>

			<table class="table table-bordered">

				<tr>

					<td><b>Categories of third parties</b></td>

					<td><b>Data type</b></td>

					<td><b>Purposes</b></td>

				</tr>

				<tr>

					<td>External processors:</td>

					<td></td>

					<td></td>

				</tr>

				<tr>

					<td>Live Chat</td>

					<td>Personal contact data (email &amp; name)</td>

					<td>To allow personalised conversations with our Careline team</td>

				</tr>

				<tr>

					<td>Facebook</td>

					<td>Personal contact data (email and name)</td>

					<td>To allow login via Facebook on the Aptaclub website</td>

				</tr>

				<tr>

					<td>Facebook</td>

					<td>Behavioural data</td>

					<td>To allow personalised conversations with the Careline and analysis of data to improve our services</td>

				</tr>

				<tr>

					<td>Excipio</td>

					<td>Personal membership data</td>

					<td>To allow personalised conversations with the Careline and analysis of data to improve our services</td>

				</tr>

				<tr>

					<td>Reporting providers:</td>

					<td></td>

					<td></td>

				</tr>

				<tr>

					<td>Google Analytics Adobe Analytics</td>

					<td>Anonymised membership data</td>

					<td>To analyse user behaviours on a website and email the allow us to enhance your experience</td>

				</tr>

				<tr>

					<td>Email / push notification</td>

					<td></td>

					<td></td>

				</tr>

				<tr>

					<td>databases:</td>

					<td></td>

					<td></td>

				</tr>

				<tr>

					<td>Facebook Chatbot</td>
					<td>Name and fb profile, stage of life, age of child</td>
					<td>To allow personalized conversations with the bot and to share relevant tips and information to the stage you are in</td>

				</tr>
			</table>

			<h5 class="heading"><mark class="orange">Sharing data internationally</mark></h5>

			<p class="text">Personal data may be processed outside the United Arab Emirates When processed outside the UAE, Danone will make sure that this cross-border data processing is protected by adequate safeguards as per local laws.</p>
			
			<h5 class="heading">Automated decision-making and profiling</h5>

			<p class="text">For some services and products we may process your personal data using automated means. Essentially this means that decisions are taken automatically without human intervention. An example of this would be deciding which type of campaign emails you receive from us.</p>

			<p class="text">We may also process your personal data for profiling purposes to predict your behaviour on our website or products that may be of interest to you. This can be used to show you adverts for our products and services appropriate to your baby’s age while you browse on other websites. We will also use your data to send tailored communications via email and direct mail, if you have opted to receive them.</p>

			<p class="text">If we intend to make use of such methods, we will of course inform you and we will give you an opportunity to object to these processes in advance. You are also free to contact us <a href="https://www.apta-advice.com/contact-us/"><mark>https://www.apta-advice.com/contact-us/</mark></a> for further information on such processing.</p>

			<h5 class="heading">Cookies and other technologies</h5>

			<p class="text">We may also collect personal data about you through the use of cookies and other technologies. This may occur when you visit our sites or third-party sites, view our online content, or use our/third-party mobile applications and may include the following information:</p>

			<ol type="a">

				<li>Information about your device browser and operating system;</li>

				<li>The IP address, device ID and Mac ID of the device you are using;</li>

				<li>Web pages of ours that you view;</li>

				<li>Adverts you view</li>

				<li>Links that you click while interactive with our services, and emails you open.</li>

				<li>Time and date of activity</li>

			</ol>


			<h5 class="heading">How to contact us</h5>

			<p class="text">If you have any questions, comments or complaints regarding this Privacy Policy or the processing of your personal data, please contact us using the link here <a href="https://www.apta-advice.com/contact-us/"><mark>https://www.apta-advice.com/contact-us/</mark></a></p>

		</div>

    </div>

</body>

</html>